<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">    
    <title>Calculadora de Day Tokens</title>
    <meta content="Calculadora de Day Tokens gerados pela TimeMint. Um simples site para conferir seu rendimento de Days ao longo das Eras." name="description">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <v-app>
            <main>
                <template>
                    <v-toolbar dark>
                        <v-toolbar-title class="white--text">Calculadora de Day Tokens</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-menu
                            offset-x
                            :close-on-content-click="false"
                            :nudge-width="300"
                            v-model="menu"
                            >
                            <v-btn icon slot="activator">
                                <v-icon v-on:click="menu = true">feedback</v-icon>
                            </v-btn>
                            <v-card>
                                <v-list>
                                    <v-list-tile>
                                        <v-list-tile-title>Envie seu FeedBack</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                                <v-list>
                                    <v-container fluid>
                                        <v-layout row>
                                            <v-flex xs12>
                                                <template v-if="loadingFeedback">
                                                    <v-progress-circular v-bind:size="50" indeterminate class="primary--text"></v-progress-circular>
                                                </template>
                                                <template v-else>
                                                    <v-text-field
                                                    name="feedback"
                                                    label="Escreva sua mensagem e clique em enviar"
                                                    textarea
                                                    v-model="message"
                                                    ></v-text-field>
                                                </template>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-list>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn :disabled="loadingFeedback" primary flat @click="send()">Enviar</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-menu>
                    </v-toolbar>
                </template>
                <template>
                    <v-card class="grey lighten-3 elevation-0">
                        <v-card-text>
                            <v-container grid-list-md text-xs-center>
                                <v-layout row wrap>
                                    <v-flex md3>
                                        <v-subheader>
                                            Digite seu Endereço Ethereum ou preencha os campos abaixo
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex md9>
                                        <v-text-field
                                            name="etheriumAddress"
                                            label="Digite seu Endereço Ethereum ou preencha os campos abaixo"
                                            id="etheriumAddress"
                                            v-model.lazy="form.etheriumAddress"
                                            v-on:blur="getAddress()"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <v-subheader>
                                            Ethereum inicial de Investimento
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex md9>
                                        <v-text-field
                                            name="etherium"
                                            label="Digite o valor que deseja investir"
                                            id="etherium"
                                            v-model.lazy="form.etherium"
                                            suffix="ETH"
                                            v-on:blur="formEtherium(form.etherium)"
                                            hint="Digite o separador decimal como uma vírgula ou ponto. Não use separador de milhar."
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <v-subheader>
                                            TimeMint
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex md9>
                                        <v-text-field
                                            name="timemint"
                                            label="Digite o número da sua TimeMint"
                                            id="timemint"
                                            v-model.lazy="form.timeMint"
                                            type="number"
                                            :max="form.max"
                                            :min="form.min"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <v-subheader>
                                            ChronoPower
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex md9>
                                        <v-text-field
                                            name="chronoPower"
                                            id="chronoPower"
                                            v-model="form.chronoPower"
                                            type="number"
                                            suffix="%"
                                            label="Digite sua TimeMint para visualizar sua ChronoPower"
                                            :readonly="true"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                    </v-card>
                </template>
                <template>
                    <v-card class="grey lighten-4 elevation-0">
                        <v-card-text>
                            <v-container>
                                <v-layout row wrap>
                                    <v-flex md3>
                                        <v-subheader>
                                            Days Tokens no Dia 0
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex md9>
                                        <v-text-field
                                            name="tokensDayZero"
                                            id="tokensDayZero"
                                            v-model="form.tokensDayZero"
                                            type="number"
                                            suffix="DAYS"
                                            placeholder="Digite o ETH de investimento para visualizar seus DAYS no dia 0"
                                            :readonly="true"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                    </v-card>
                </template>
                <template>
                    <v-container grid-list-md text-xs-center>
                        <v-layout row wrap>
                            <v-flex md6>
                                <table class="table">
                                    <caption>Períodos</caption>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Período</th>
                                            <th>Incio</th>
                                            <th>Fim</th>
                                            <th width="150">Efetividade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, periodo) in chronoEra">
                                            <td>#{{ item.era }}</td>
                                            <td>#{{ periodo }}</td>
                                            <td>{{ item.initDay }}</td>
                                            <td>{{ item.lastDay }}</td>
                                            <td>{{ item.effective.toFixed(20) }}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </v-flex>
                            <v-flex md6>
                                <table class="table">
                                    <caption>Simulação</caption>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ChronoEra</th>
                                            <th>ChronoPower</th>
                                            <th>Valor Inicial</th>
                                            <th>Valor Final</th>
                                            <th>Ganho no período</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(simulation, chave) in simulations">
                                            <td>{{ chave+1 }}</td>
                                            <td>{{ simulation.period }}</td>
                                            <td>{{ simulation.chronoPower.toFixed(20) }}</td>
                                            <td>{{ simulation.start.toFixed(10) }}</td>
                                            <td>{{ simulation.last.toFixed(10) }}</td>
                                            <td>{{ simulation.diff.toFixed(10) }}</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </v-flex>
                            <v-flex md12 class="grey lighten-3">
                                <p class="mt-5 mb-4">Código disponível no <a target="_blank" href="https://github.com/Rigolon/daysCalculator">GitHub</a></p>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </template>
            </main>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="/assets/js/transactions.js"></script>
    <script src="/assets/js/daysCalculator.min.js"></script>

    <script>
        var msgAlert       = "Seu endereço não foi encontrado nas transações.";
        var msgAlert2      = "O valor de contribuição mínimo é de 1 ETH.";
        var msgSuccess     = "Enviar com sucesso";
        var msgSuccessText = "Sua mensagem foi enviada com sucesso. Caso tenha deixado seu contato, retornaremos com nossa posição.";
        var Oops           = "Oops...";
        var msgErrorText   = "Infelizmente não foi possível enviar sua mensagem.";
    </script>
    
</body>
</html>